.unity-base-override {
	background-color: initial;
	border-width: initial;
	overflow: initial;
	padding: initial;
	margin: initial;
	-unity-font-definition: initial;
	justify-content: center;
	align-items: center;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}

.unity-viewport {
	position: absolute;
	width: 100%;
	height: 100%;
}

.Media-Room-Wolff {
	border-radius: 0px 0px 0px 0px;
	background-color: rgba(255,255,255,0);
	overflow: hidden;
}

.Rectangle-2 {
	border-radius: 10px;
	position: absolute;
	left: 100px;
	width: 1680px;
	top: 34px;
	height: 112px;
	background-color: rgba(217,217,217,0.50);
	border-color: rgba(133,133,133,1);
	border-width: 1px;
}

.Rectangle-1 {
	border-radius: 10px;
	position: absolute;
	left: 100px;
	width: 1680px;
	top: 682px;
	height: 352px;
	--box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	background-image: url('Images/36f2e38a7b92a9dc3dae2aa9902dc91b.svg');
}

.Toto-wolff-You {
	position: relative;
	align-self: center;
	left: -365px;
	top: 37px;
	width: 720px;
	height: 82px;
	margin-bottom: -82px;
	text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	color: rgba(60,205,221,1);
	white-space: nowrap;
	font-size: 48px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: middle-center;
}

.Please-Input {
	position: absolute;
	left: 156px;
	width: 1555px;
	top: 739px;
	height: 275px;
	text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	color: rgba(0,0,0,1); 
	white-space: normal;
	font-size: 36px;
	-unity-font: url('Fonts/Formula1-Regular.otf');
	-unity-text-align: upper-left;
}

.Union-1032 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 89.11%;
	right: 8.65%;
	top: 88.52%;
	bottom: 7.53%;
	--box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	background-image: url('Images/f1ba67c52bb84acaa8427dc00e1c799c.svg');
}

.media-interview {
	position: relative;
	align-self: center;
	left: 0px;
	top: -475px;
	width: 904px;
	height: 49px;
	margin-bottom: -49px;
	text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	color: rgba(44,44,64,1);
	white-space: nowrap;
	font-size: 48px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: middle-center;
}

.wolff-Photoroom-1 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 139px;
	width: 163px;
	top: 520px;
	height: 162px;
	background-image: url('Images/56d4d3cc633f5afc72367d5ed454dd25.png');
	background-size: cover;
}