.unity-base-override {
	background-color: initial;
	border-width: initial;
	overflow: initial;
	padding: initial;
	margin: initial;
	-unity-font-definition: initial;
	justify-content: center;
	align-items: center;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}

.unity-viewport {
	position: absolute;
	width: 100%;
	height: 100%;
}

.Feature-Race-Track-Detail {
	border-radius: 0px 0px 0px 0px;
	background-color: rgba(255,255,255,0);
	overflow: hidden;
}

.Frame-66 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 968px;
	width: 720px;
	top: 241px;
	height: 640px;
}

.Rectangle-one {
	border-radius: 20px;
	position: absolute;
	left: 0px;
	width: 720px;
	top: 0px;
	height: 640px;
}

.Rectangle-two {
	border-radius: 8px 0px 0px 0px;
	position: absolute;
	left: 32px;
	width: 327px;
	top: 117px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Rectangle-three {
	border-radius: 0px 8px 0px 0px;
	position: absolute;
	left: 361px;
	width: 327px;
	top: 117px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Frame-59 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 64px;
	width: 602px;
	top: 136px;
	height: 29px;
}

.Circuit-Temperature {
	position: absolute;
	left: 0px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(175,177,178,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.n-30-C {
	position: absolute;
	left: 542px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-right;
}

.Rectangle-four {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 32px;
	width: 327px;
	top: 187px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Rectangle-five {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 361px;
	width: 327px;
	top: 187px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Frame-60 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 64px;
	width: 599px;
	top: 207px;
	height: 29px;
}

.Air-Temperature {
	position: absolute;
	left: 0px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(175,177,178,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.n-25-C {
	position: absolute;
	left: 542px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-right;
}

.Rectangle-six {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 32px;
	width: 327px;
	top: 258px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Rectangle-seven {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 361px;
	width: 327px;
	top: 258px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Frame-61 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 64px;
	width: 603px;
	top: 277px;
	height: 29px;
}

.Rainfall {
	position: absolute;
	left: 0px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(175,177,178,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.n-0-mm {
	position: absolute;
	left: 533px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-right;
}

.Rectangle-eight {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 32px;
	width: 327px;
	top: 328px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Rectangle-nine {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 361px;
	width: 327px;
	top: 328px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Frame-62 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 64px;
	width: 604px;
	top: 348px;
	height: 29px;
}

.Wind-Speed {
	position: absolute;
	left: 0px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(175,177,178,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.n-5-km-h {
	position: absolute;
	left: 517px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-right;
}

.Rectangle-ten {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 32px;
	width: 327px;
	top: 399px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Rectangle-eleven {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 361px;
	width: 327px;
	top: 399px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Frame-63 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 64px;
	width: 604px;
	top: 418px;
	height: 29px;
}

.Wind-Direction {
	position: absolute;
	left: 0px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(175,177,178,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.North {
	position: absolute;
	left: 530px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-right;
}

.Rectangle-twelve {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 32px;
	width: 327px;
	top: 469px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Rectangle-thirteen {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 361px;
	width: 327px;
	top: 469px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Frame-64 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 64px;
	width: 599px;
	top: 488px;
	height: 29px;
}

.Grip-Level {
	position: absolute;
	left: 0px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(175,177,178,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.n-50 {
	position: absolute;
	left: 548px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-right;
}

.Rectangle-fourteen {
	border-radius: 0px 0px 0px 8px;
	position: absolute;
	left: 32px;
	width: 327px;
	top: 539px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Rectangle-fifteen {
	border-radius: 0px 0px 8px 0px;
	position: absolute;
	left: 361px;
	width: 327px;
	top: 539px;
	height: 68px;
	background-color: rgba(22,23,32,1);
}

.Frame-65 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 64px;
	width: 610px;
	top: 559px;
	height: 29px;
}

.Rubber-Particles {
	position: absolute;
	left: 0px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(175,177,178,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.Medium {
	position: absolute;
	left: 507px;
	width: auto;
	top: 0px;
	height: 29px;
	color: rgba(255,255,255,1);
	white-space: nowrap;
	font-size: 19px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-right;
}

.Frame-40 {
	border-radius: 12px;
	position: absolute;
	left: 137px;
	width: 370px;
	top: 76px;
	height: 56px;
	background-color: rgba(30,30,45,1);
}

.Rectangle-sixteen {
	border-radius: 8px;
	position: absolute;
	left: 4px;
	width: 180px;
	top: 4px;
	height: 48px;
}

.Rectangle-seventeen {
	border-radius: 8px;
	position: absolute;
	left: 186px;
	width: 180px;
	top: 4px;
	height: 48px;
	background-color: rgba(67,24,209,1);
}

.Strategy {
	position: absolute;
	left: 59px;
	width: auto;
	top: 14px;
	height: 24px;
	color: rgba(166,166,177,1);
	white-space: nowrap;
	font-size: 16px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-center;
}

.Track-Detail {
	position: absolute;
	left: 221px;
	width: auto;
	top: 15px;
	height: 24px;
	color: rgba(166,166,177,1);
	white-space: nowrap;
	font-size: 16px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-center;
}

.Frame-39 {
	border-radius: 12px;
	padding: 15px 13px 15px 13px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	--item-spacing: 12;
	position: absolute;
	left: 1589px;
	width: 219px;
	top: 73px;
	height: 62px;
	background-color: rgba(30,30,45,1);
}

.Rectangle-eighteen {
	border-radius: 31655100px;
	position: relative;
	width: 8px;
	height: 8px;
	margin-right: 12px;
	opacity: 0.56;
	background-color: rgba(114,239,75,1);
}

.LIVE {
	position: relative;
	width: auto;
	height: 21px;
	margin-right: 12px;
	color: rgba(114,239,75,1);
	white-space: nowrap;
	font-size: 14px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.LAP {
	position: relative;
	width: auto;
	height: 21px;
	margin-right: 12px;
	color: rgba(166,166,177,1);
	white-space: nowrap;
	font-size: 14px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.n-1 {
	position: relative;
	width: auto;
	height: 30px;
	margin-right: 12px;
	color: rgba(196,193,79,1);
	white-space: nowrap;
	font-size: 20px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.n-58 {
	position: relative;
	width: auto;
	height: 30px;
	color: rgba(166,166,177,1);
	white-space: nowrap;
	font-size: 20px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.Frame-58 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 834px;
	width: 227px;
	top: 979px;
	height: 50px;
}

.Frame-57 {
	border-radius: 10px;
	position: absolute;
	left: 0px;
	width: 80px;
	top: 0px;
	height: 50px;
	background-color: rgba(255,255,255,1);
}

.Frame-1 {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 25px;
	width: 29px;
	top: 10px;
	height: 30px;
}

.Vector-one {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 0px;
	width: 29px;
	top: 0px;
	height: 30px;
	background-image: url('Images/cee27b7e5794cd757186c4bb5f4091ea.svg');
}

.Group {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 15.53%;
	right: 56.76%;
	top: 59.40%;
	bottom: 17.25%;
	opacity: 0.40;
}

.Vector-two {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 0%;
	right: -24.45%;
	top: 0%;
	bottom: -14.20%;
	background-image: url('Images/d7c441e73710f385520b600bc31838e0.svg');
}

.Frame-56 {
	border-radius: 10px;
	position: absolute;
	left: 87px;
	width: 140px;
	top: 0px;
	height: 50px;
	background-color: rgba(44,44,64,1);
}

.arrow-left {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 12px;
	width: 24px;
	top: 13px;
	height: 24px;
	overflow: hidden;
}

.Vector-three {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 23.48%;
	right: 22.35%;
	top: 5.87%;
	bottom: 2.46%;
	background-image: url('Images/601e98f31edc22c22ef6e9460f13f485.svg');
}

.camera {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 55px;
	width: 30px;
	top: 10px;
	height: 30px;
	overflow: hidden;
}

.Vector-four {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 0%;
	right: 23.33%;
	top: 33.33%;
	bottom: 10%;
	background-image: url('Images/1e6a63aa71853a520e9dc3344965e581.svg');
}

.Vector-five {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 83.38%;
	right: -0.04%;
	top: 41.71%;
	bottom: 18.29%;
	background-image: url('Images/8edcb28873ef2eba7aa357514aad82b0.svg');
}

.Vector-six {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: -0.04%;
	right: 43.38%;
	top: 12.50%;
	bottom: 74.17%;
	opacity: 0.40;
	background-image: url('Images/c738b4814d42846cc2e9a763430947b1.svg');
}

.arrow-right {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 104px;
	width: 24px;
	top: 13px;
	height: 24px;
	overflow: hidden;
}

.Vector-seven {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 23.46%;
	right: 22.37%;
	top: 5.87%;
	bottom: 2.46%;
	background-image: url('Images/52df5d41707d8b48a696579edfd60cff.svg');
}

.Rectangle-nineteen {
	border-radius: 0px 0px 0px 0px;
	position: absolute;
	left: 1000px;
	width: 656px;
	top: 273px;
	height: 53px;
	border-color: rgba(83,83,83,1);
	border-bottom-width: 1px;
}

.Rectangle-twenty {
	border-radius: 31655100px;
	position: absolute;
	left: 1000px;
	width: 8px;
	top: 287px;
	height: 8px;
	opacity: 0.56;
	background-color: rgba(114,239,75,1);
}

.TRACK-DETAIL {
	position: absolute;
	left: 1020px;
	width: auto;
	top: 272px;
	height: 36px;
	margin: 1px 1px 1px 1px;
	text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	color: rgba(255,255,255,1);
	white-space: nowrap;
	font-size: 24px;
	-unity-font: url('Fonts/Formula1-Medium.otf');
	-unity-text-align: upper-left;
}

.vip-tour-hero-1920x694-1 {
	border-radius: 10px;
	position: absolute;
	left: 188px;
	width: 686px;
	top: 260px;
	height: 248px;
	--box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	background-image: url('Images/7384cd794bc66e792ef997d132392b88.png');
	background-size: cover;
}

.n-2-6 {
	border-radius: 10px;
	position: absolute;
	left: 186px;
	width: 686px;
	top: 567px;
	height: 296px;
	--box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	background-image: url('Images/85fbb2761690660bec21bcc6e05bb93a.png');
}